.csw-verify-content {
  background-color: #ffffff;
  height:100vh;

  .csw-navbar-verify {
    background-color: #4a4a4a;
    border: 1px #4a4a4a solid;
    border-radius: 0px;
  }

  .csw-verify-top {
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;

    a:hover {
      text-decoration: underline;
      color: #fafafa;
    }
  }

  .csw-verify-presentation {
    img {
      width: 100%;
      height:100%;
    }
  }

  .csw-verify-form {

    .csw-verify-form-content {
      padding: 20px;
      background-color: #e7e7e7;
      border-radius: 6px;

      .csw-verify-text {
        margin-left: 15px;
        color: #ababab;
        h3 {
          margin-top: 70px;
          margin-bottom: 40px;
        }
      }

      .csw-square {
        width: 150px;
        float: right;
        height: 150px;
        background-color: #9b9b9b;
      }

      @media screen and (max-width: 991px) {
        .csw-square {
          width: 150px;
          height: 150px;
          float: none;
          margin: 0 auto;
        }
      }

      .csw-verify-btn-back-to-login {
        margin-top: 120px;
        margin-bottom: 70px;
      }

    }
  }
}
