<div class="csw-verify-content">
  <nav class="navbar navbar-default csw-navbar-verify">
    <div class="container-fluid">
      <div class="csw-navbar-header text-center">
        <a class="csw-navbar-brand" href="#">
          <img src="/assets/images/clicksign-logo-small-white.png" alt="">
        </a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 csw-verify-form">
        <div class="csw-verify-top"></div>
        <div class="csw-verify-form-content">
          <div class="row">
            <div class="col-md-8">
              <div class="csw-verify-text">
                <h3>Quase lá!</h3>
                <p>
                  Precisamos confirmar seu email <br><br>
                  Para completar o seu cadastro, por favor clique no link do email
                  que enviamos para você!
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="csw-square"></div>
            </div>
            <div class="col-md-6 col-md-offset-3">
              <div class="csw-verify-btn-back-to-login">
                <button class="btn btn-primary csw-btn-full-gray" ui-sref="login">
                  <b>Ir para o Site</b>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
