<nav class="navbar navbar-default csw-navbar-main">
  <div class="container csw-navbar-main-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="/assets/images/kreator-logo.png" alt="">
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <small class="csw-main-font-color-light">Configure o seu certificado digital </small>&nbsp;
            <ng-md-icon icon="vpn_key" style="fill: #bfbfbf" size="23"></ng-md-icon>
          </a>
          <ul class="dropdown-menu">
            <li><a ui-sref="home">Certificado digital</a></li>
            <li><a ui-sref="logout" ng-if="vm.isAuthenticated()">Sair</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
