<acme-navbar></acme-navbar>

<div class="container">
  <section>
    <div class="row text-center">
      <div class="col-md-12 csw-done-text">
        <img src="/assets/images/checked_green.png" alt="">
        <h2 class="csw-done-margin-top csw-done-color-dark">Documento assinado com sucesso</h2>
      </div>
    </div>
  </section>
</div>

<footer class="navbar-fixed-bottom">
  <div class="csw-done-footer-brand text-center">
    <br><br>
    <small>Assinatura digital</small> <img src="/assets/images/clicksign-logo-small-color.png" alt="">
  </div>
</footer>
