.csw-done-text {
  margin-top: 30px;
  img {
    width: 80px;
    height: 80px;
  }
}

.csw-done-color-dark {
  color: #3d3d3d;
}

.csw-done-margin-top {
  margin-top: 30px;
}

.csw-done-footer-brand {
  margin-top: 5px;
  margin-bottom: 70px;
  border-top: 1px solid #ededed;
  color: #525659;
  img {
    margin-top: 6px;
    margin-bottom: 2px;
  }
}
