/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

$icon-font-path: "../../assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

// ##### GLOBAL #####

.csw-valid-text {
  color: #06b312;
}

.csw-has-error-text {
  color: #c90202;
}

.csw-navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.csw-navbar-brand {
  float: none;
}

.csw-brand {
  margin-top: 8px;
  a {
    text-align: center;
  }
}

.csw-btn-full {
  width: 100%;
}

.csw-btn-custom {
  padding-right: 40px;
  padding-left: 40px;
  background-color: #33A11A;
  border-radius: 2px;
}

.csw-btn-custom-lg {
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #33A11A;
  border-radius: 2px;
  b {
    font-size: 18px;
  }
}

.csw-btn-custom-link {
  color: #bfbfbf;
  text-decoration: underline;
}

.csw-btn-custom-link:hover {
  color: #5c5c5c;
  text-decoration: underline;
}

.csw-btn-full-gray {
  width: 100%;
  color: #5c5c5c;
  border-radius: 5px;
  border: 1px #979797 solid;

  /* IE10+ */
  background-image: -ms-linear-gradient(top, #d5d5d5 0%, #B1B1B1 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #d5d5d5 0%, #B1B1B1 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #d5d5d5 0%, #B1B1B1 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d5d5d5), color-stop(100, #B1B1B1));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #d5d5d5 0%, #B1B1B1 100%);
  /* W3C Markup */
  background-image: linear-gradient(to bottom, #d5d5d5 0%, #B1B1B1 100%);
}

.csw-btn-full-gray:hover {
  color: #5c5c5c;
  border: 1px #979797 solid !important;
}


.csw-btn-full-gray:active {
  color: #5c5c5c;
  border: 1px #979797 solid !important;
}

// ##### BOOTSTRAP #####

@media screen and (min-width: 768px) {
    .navbar-brand-centered {
      position: absolute;
      left: 50%;
      display: block;
      width: 160px;
      text-align: center;
      img {
        margin-top: -6px;
      }
    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
      margin-left: -80px;
    }
}

.navbar-brand-centered {
  img {
    margin-top: -6px;
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
