section {
  color: #b2b2b2;

  article {
    color: #3d3d3d;
  }
}

.csw-main-font-color-light {
  color: #b2b2b2;
}

.csw-main-font-color-dark {
  color: #9a9a9a;
}

.csw-main-doc-content {
  background-color: #525659;
  margin-top: 10px;
  padding: 70px;
  color: #b2b2b2;
}

.csw-main-doc-body {
  background-color: #ffffff;
  padding: 30px;
}

footer.navbar-fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    img {
      width: 80px;
      height: 20px;
    }
}

.csw-main-footer-text {
  margin-top: 30px;
}

.csw-main-footer-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.csw-main-footer-brand {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 1px solid #ededed;
  color: #525659;
  img {
    margin-top: 6px;
    margin-bottom: 2px;
  }
}

.csw-modal-text {
  margin-top: 25px;
  margin-bottom: 50px;
  p {
    color: #b2b2b2;
    font-size: 17px;
    line-height: 1.3;
  }
}
