<acme-navbar></acme-navbar>

<div class="container">
  <section>
    <div class="row">
      <div class="col-md-12">
        <br>
        <p>Selecione abaixo o(s) contratos(s) que você deseja assinar.</p>
      </div>
      <div class="col-md-12">
        <br><br>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked> 1. &lt;Número do contrato&gt;
          </label>
        </div>

        <div class="col-md-12 csw-main-doc-content">
          <div class="col-md-12 csw-main-doc-body">
            <article>
              <h2 class="text-center">Lorem Ipsum</h2>
              <br><br>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean imperdiet
                cursus venenatis. Aenean ut feugiat erat. Duis ac condimentum risus, eget
                sodales tortor. In dapibus nec elit nec mollis. Sed nisi turpis, gravida
                vel justo id, tempus ultrices enim. Vivamus non arcu eget ipsum tempor
                interdum. Aliquam sit amet quam a ligula placerat cursus eu et lorem.
                Donec volutpat venenatis quam, nec sollicitudin lectus ornare imperdiet.
                Praesent at dignissim ante, eget aliquam leo. Proin a magna non nisi cursus posuere.
              </p>

              <p>
                Sed et facilisis turpis. Phasellus sit amet pretium nibh. Etiam semper
                aliquet ultricies. Integer et elementum ipsum, ac vehicula elit. Aliquam
                convallis, augue eu tempor dapibus, turpis massa posuere orci, ut faucibus
                libero mauris et mauris. Cras mi urna, mollis ut mollis a, tincidunt ut ligula.
                Aliquam erat volutpat. Maecenas non molestie lorem. Donec sit amet risus lectus.
                Donec semper vehicula scelerisque. Cras sit amet lobortis lacus. Ut eu faucibus
                tortor. Nam consequat felis et lectus dapibus, sit amet malesuada velit dictum.
                Vivamus hendrerit, ante vitae dapibus pretium, urna quam tempus ex, nec consequat
                arcu metus sed felis.
              </p>

              <p>
                Nam porta vitae lacus ut facilisis. Sed eu varius metus, nec tempor dolor.
                Aliquam interdum, ligula a rutrum fermentum, metus sem ultrices enim, non suscipit
                lacus metus vitae justo. In imperdiet ipsum eros, vel porta augue pharetra a. In hac
                habitasse platea dictumst. In tellus turpis, mollis sed scelerisque sed, mollis a nunc.
                Mauris eget rutrum ex. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                Sed vel mi et metus egestas ultrices sagittis non sapien. Vestibulum pulvinar aliquam
                blandit. Nullam sodales maximus orci, vitae vehicula urna ullamcorper nec.
                Quisque id tellus porta, tincidunt eros ac, sagittis est. Aenean et arcu quam.
                Nunc quis mollis magna, ultricies mollis arcu. Aliquam sed posuere ipsum.
                Suspendisse potenti.
              </p>

              <p>
                Maecenas euismod odio vitae ornare venenatis. Aenean vel est porta,
                sodales metus sit amet, placerat massa. Nunc vel magna turpis. Praesent
                nec molestie leo, a feugiat nisl. Sed ut maximus felis. Maecenas pulvinar
                orci quis scelerisque efficitur. Donec blandit sem vitae lacus maximus convallis.
                Morbi porttitor leo augue, ut rhoncus arcu rutrum id. Vestibulum ac nibh commodo,
                sodales libero non, luctus urna. Curabitur vitae lorem ligula.
              </p>

              <p>
                Nulla consequat dui sed nulla euismod elementum. Interdum et malesuada fames
                ac ante ipsum primis in faucibus. Vivamus quis varius orci, sed vehicula nisi.
                Suspendisse eget pretium magna. Quisque sed posuere nunc. Etiam ultricies
                mauris placerat euismod porttitor. Cum sociis natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Aenean convallis arcu at bibendum
                fermentum. In pharetra felis erat, at auctor mi pellentesque quis. Sed ac libero
                gravida, pretium nibh eget, convallis purus.
              </p>
              <br><br>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<footer class="navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-left csw-main-footer-text">
        <p class="csw-main-font-color-light">
          Você possui &lt;100&gt; contratos pendentes.
        </p>
      </div>
      <div class="col-md-6 text-right csw-main-footer-btn">
        <button type="button" class="btn btn-md btn-success csw-btn-custom" name="button" data-toggle="modal" data-target="#myModal">
          <ng-md-icon icon="done" style="fill: white" size="20"></ng-md-icon> <small>Assinar</small>
        </button>
      </div>
    </div>
  </div>
  <div class="csw-main-footer-brand text-center">
    <small>Assinatura digital</small> <img src="/assets/images/clicksign-logo-small-color.png" alt="">
  </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title csw-main-font-color-dark" id="myModalLabel">Assinar contratos</h4>
      </div>
      <div class="modal-body text-center">
        <div class="csw-modal-text">
          <p>
            Você selecionou <b>&lt;10&gt; contrato(s).</b> <br>
            Deseja assinar todos?
          </p>
        </div>
        <button type="button" class="btn btn-success csw-btn-custom-lg" ng-click="vm.done()">
          <ng-md-icon icon="done" style="fill: white" size="22"></ng-md-icon> <b>Assinar Todos</b>
        </button>
        <br>
        <button type="button" class="btn btn-link csw-btn-custom-link" data-dismiss="modal">
          <small>Cancelar</small>
        </button>
      </div>
    </div>
  </div>
</div>
