<div class="csw-login-content">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="csw-navbar-header text-center">
        <a class="csw-navbar-brand" href="#">
          <img src="/assets/images/clicksign-logo-small-color.png" alt="">
        </a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 csw-login-form">
        <div class="csw-login-top"></div>
        <div class="csw-login-form-content">
          <div class="csw-login-form-header">
            <h5 class="text-center"><b>LOGIN</b></h5>
          </div><br>
          <form name="loginForm">
            <div class="form-group"
                 ng-class="{ 'has-error': loginForm.email.$invalid && loginForm.email.$dirty }">
              <input type="email" name="email" class="form-control" placeholder="Email"
                     ng-model="vm.user.email" required>

              <div ng-messages="loginForm.email.$error" class="text-center" ng-if='loginForm.email.$dirty'>
                <small class="csw-has-error-text" ng-message="required"><b>Seu Email é requerido.</b></small>
                <small class="csw-has-error-text" ng-message="email"><b>Digite seu Email em um formato válido.</b></small>
              </div>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error': loginForm.password.$invalid && loginForm.password.$dirty }">
              <input type="password" name="password" class="form-control" placeholder="Senha"
                     ng-model="vm.user.password" ng-minlength="6" required>

              <div ng-messages="loginForm.password.$error" class="text-center" ng-if='loginForm.password.$dirty'>
                <small class="csw-has-error-text" ng-message="minlength"><b>A Senha deve conter pelo menos 8 caracteres.</b></small>
                <small class="csw-has-error-text" ng-message="required"><b>Sua Senha é requerida.</b></small>
              </div>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> <small class="csw-logged">Manter logado</small>
              </label>
            </div>
            <div class="csw-login-submit">
              <h5>
                <button type="submit" class="btn btn-primary csw-btn-full" ng-click="vm.login()"
                        ng-disabled="loginForm.$invalid">Entrar
                </button>
              </h5>
            </div>
          </form>
        </div>
        <div class="csw-login-view">
          <a ui-sref="signup" class=""><b>Cadastre-se!</b> <ng-md-icon icon="account_circle" style="fill: #9c9c9c" size="22"></ng-md-icon></a>
        </div>
      </div>
    </div>
  </div>
</div>
