.csw-login-content {
  background-color: #fafafa;
  height:100vh;

  .csw-login-top {
    position: relative;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;

    a:hover {
      text-decoration: underline;
      color: #fafafa;
    }
  }

  .csw-login-view {
    margin-top: 20px;
    text-align: center;

    a {
      text-decoration: none;
      color: #9c9c9c;
    }

    a:hover {
      text-decoration: underline;
      color: #3d3d3d;
    }
  }


  .csw-login-presentation {

    img {
      width: 100%;
      height:100%;
    }

  }

  .csw-login-form {

    .csw-login-form-content {
      padding: 20px;
      background-color: #fff;
      -webkit-box-shadow: 0px 6px 5px -1px rgba(50, 50, 50, 0.42);
      -moz-box-shadow:    0px 6px 5px -1px rgba(50, 50, 50, 0.42);
      box-shadow:         0px 6px 5px -1px rgba(50, 50, 50, 0.42);

      .csw-login-form-header {
        text-align: center;

        h5 {
          color: #3d3d3d;
        }

      }

      .csw-login-submit {
        text-align: center;
      }

      .csw-logged {
        color: #9c9c9c;
      }
    }
  }
}
