<div class="csw-signup-content">
  <nav class="navbar navbar-default csw-navbar-signup">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand navbar-brand-centered">
          <img src="/assets/images/clicksign-logo-small-white.png" alt="">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right csw-signup-login-link">
          <li>
            <a ui-sref="login"><b>Já possui uma conta? Entrar</b></a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 csw-signup-form">
        <div class="csw-signup-top"></div>
        <div class="csw-signup-form-content">
          <div class="csw-signup-form-header">
            <h3 class="text-center"><b>Cadastre-se agora</b></h3>
            <p>Quer enviar documentos para assinatura? Experimente grátis por 14 dias.</p>
          </div><br>
          <form name="signupForm">
            <div class="form-group"
                 ng-class="{ 'has-error': signupForm.full_name.$invalid && signupForm.full_name.$dirty }">
              <input type="text" name="full_name" class="form-control" placeholder="Nome Completo"
                     ng-model="vm.user.full_name" ng-pattern="/^[a-zA-Z\s]*$/" required>

              <div ng-messages="signupForm.full_name.$error" class="text-center" ng-if='signupForm.full_name.$dirty'>
                <small class="csw-has-error-text" ng-message="pattern">
                  <div class="csw-bloc-invalid"></div>
                  <b>Apenas letras são válidas.</b></small>
                <small class="csw-has-error-text" ng-message="required">
                  <div class="csw-bloc-invalid"></div>
                  <b>Seu Nome é requerido.</b></small>
              </div>
              <div ng-if='signupForm.full_name.$valid' class="text-center">
                <small class="csw-valid-text">
                  <div class="csw-bloc-valid"></div>
                  <b>Legal!</b>
                </small>
              </div>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error': signupForm.email.$invalid && signupForm.email.$dirty }">
              <input type="email" name="email" class="form-control" placeholder="Email"
                     ng-model="vm.user.email" required>

              <div ng-messages="signupForm.email.$error" class="text-center" ng-if='signupForm.email.$dirty'>
                <small class="csw-has-error-text" ng-message="required">
                  <div class="csw-bloc-invalid"></div>
                  <b>Seu Email é requerido.</b>
                </small>
                <small class="csw-has-error-text" ng-message="email">
                  <div class="csw-bloc-invalid"></div>
                  <b>Digite seu Email em um formato válido.</b>
                </small>
              </div>
              <div ng-if='signupForm.email.$valid' class="text-center">
                <small class="csw-valid-text">
                  <div class="csw-bloc-valid"></div>
                  <b>Parece OK! :)</b>
                </small>
              </div>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error': signupForm.password.$invalid && signupForm.password.$dirty }">
              <input type="password" name="password" class="form-control" placeholder="Senha"
                     ng-model="pw" required>

              <div class="text-center">
                <ul id="strength" check-strength="pw"></ul>
              </div>

              <div ng-messages="signupForm.password.$error" class="text-center" ng-if='signupForm.password.$dirty'>
                <small class="csw-has-error-text" ng-message="minlength">
                  <div class="csw-bloc-invalid"></div>
                  <b>A Senha deve conter pelo menos 8 caracteres.</b>
                </small>
                <small class="csw-has-error-text" ng-message="required">
                  <div class="csw-bloc-invalid"></div>
                  <b>Sua Senha é requerida.</b>
                </small>
              </div>
            </div>
            <br><br>
            <div class="csw-signup-submit">
              <h5>
                <button type="submit" class="btn btn-primary csw-btn-full-gray" ng-click="vm.submit()"
                        ng-disabled="signupForm.$invalid"><b>Criar Conta</b>
                </button>
              </h5>
            </div>
            <div class="csw-signup-info-form text-center">
              <p>Ao se inscrever você concorda com os <a href="#">Termos de Uso</a> e a <a href="#">Política de Privacidade</a> estabelecidos pela Clicksign.</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
