.csw-bloc-valid {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: -3px;
  background-color: #06b312;
}

.csw-bloc-invalid {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: -3px;
  background-color: #c90202;
}

.csw-signup-content {
  background-color: #fff;
  height:100vh;

  .csw-navbar-signup {
    background-color: #d8d8d8;
    border-radius: 0px;
  }

  .csw-signup-login-link {
    li, a {
      color: #ffffff !important;
    }
  }

  .csw-signup-top {
    position: relative;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;

    a:hover {
      text-decoration: underline;
      color: #fafafa;
    }
  }

  .csw-signup-view {
    margin-top: 20px;
    text-align: center;
    a {
      text-decoration: none;
      color: #fafafa;
    }
    a:hover {
      text-decoration: underline;
      color: #fafafa;
    }
  }


  .csw-signup-presentation {
    img {
      width: 100%;
      height:100%;
    }
  }

  .csw-signup-form {

    .csw-signup-form-content {
      padding: 20px;

      .csw-signup-form-header {
        text-align: center;
        color: #ababab;
        p {
          line-height: 1.1;
          font-size: 11px;
        }
      }

      .csw-signup-submit {
        text-align: center;
      }

      .csw-signup-info-form {
        p {
          font-size: 10px;
          line-height: 1.1;
          color: #b8abab;
          a {
            color: #5da4e7;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
